*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 20px 0 10px 20px;
    width: 100%;
}
.container{
    background-color: rgb(247,248,249);
    width: 100%;
    height: 50vh;

    
}
header img{
    vertical-align:middle;
}
header h1{
    display: inline-block;
    vertical-align:middle;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: white;
    margin: auto;
    padding-top: 30px;
    width: 80%;
   
}

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 20px 0 10px 20px;
    width: 100%;
}
.container{
    back
    width: 100%;
    
}
header img{
    vertical-align:middle;
}
header h1{
    display: inline-block;
    vertical-align:middle;
    font-family: 'Roboto', sans-serif;
}
.first{
    background-color: rgb(247,248,249);
}
nav{
    background-color: red;
} */